@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


$colors: (
    backgnd: white,
    accent: gray,
    accent-bgnd: rgb(238, 238, 238),
    dark: #282828,
    txt: black
);

@function color($color-name){
    @return map-get($colors,$color-name);
}

body {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: color(backgnd);
    color: color(txt);
    text-align: center;
}

.hide-mobile {
    display: none;
}

h1{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    img{
        position: relative;
        top: .15em;
        width: 1em;
    }
}

h2{
    font-weight: 500;
    padding: 2em;
    font-size: 16px;
}

h3{
    font-size: 12px;
}

ul li{
    display: list-item;
}

.underline{
    text-decoration: underline;
}

#navbar {
    position: absolute;
    right: 1em;
    top: 1em;
    img{
        position: relative;
        right: 1em;
        top: 1em;
        z-index: 2;
    }
    ul{
        li{
        top: 2em;
        padding: 2em;
        position: relative;
        text-align: right;
        z-index: 2;
    }}
}

.cover{
    margin: 0;
    opacity: 96%;
    position: fixed;
    top:0;
    background: url("../images/portfolio-item.jpg"), white;
    background-repeat: no-repeat;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: 1; //put on top
}

.social-media{
    display: flex;
    align-items: baseline;
    padding: 1em;
    li{
        padding: .4em;
    }
    .linkedin{width: 2.12em;}
    .behance{width: 2.1em;}
    .instagram{width: 2em;}
    .pinterest{width: 2em;}
}

ul, ol{list-style-type: none; padding: 0;}
a{text-decoration: none;}
a:visited{text-decoration: none; color:color(txt);}
a:link{text-decoration: none; color:color(txt);}
address{font-style: normal;}

.hide{
    display: none;
}

#sortbar {
    text-transform: capitalize;
    text-align: center;
    ul {
        padding: 1em;
        display: flex;
        justify-content: space-evenly;
        max-width: 1000px;
        margin: auto;
        a:hover {
            background-color: pink;
            color: color(darker);
        }
    }
}

nav li:hover{
    text-decoration: underline;
}

.container{
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: center;
}

Squaregrid{
    display: grid;
    --columns: 1;
    width: 100%;
    max-width: 80vw;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: calc(
        (80vw - ((var(--columns) - 1)* 10px)) / var(--columns));
    grid-gap:10px;
  }

.item {
    display: flex;
    background: color(accent);
    position: relative;
    margin: relative;
    overflow: hidden;
    img{
        max-width: 300px;
        object-fit: cover;
        min-width:100%;
        min-height:100%;
    }
}

.item:before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 25%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: color(backgnd);
}

.overlay p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    a:hover{text-decoration: underline;}
}

.item:hover .overlay {
    opacity: .92;
}

hr {
    margin: 4em 1em 0 1em;
    border: 1px solid color(accent);
}

footer .section{
    ul li{
        padding: .3em;
        display: list-item;
    }

    h1{
        padding-top: .6em;
        margin-bottom: 0;
    }

    #personal-info li{
        img{
            width: 1.4em;
            padding-right: .8em;
            position: relative;
            top: .35em;
        }
        text-align: left;
    }

    #footer-nav li{
        margin-top: .12em;
        padding: .52em;
    }

    .social-media{
        margin: 0;
        padding: 1em;
    }
}

footer .copyright {
    text-align: left;
    padding: 1em;
    color: color(accent);
    font-size: smaller;
}
// about stuff ----------------

.about{
    text-align: left;
    h2{
        padding: 0;
    }
    justify-content: space-evenly;
    max-width: 75%;
    margin: auto;
    padding: 1em;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 0 0 2em 0;
    }
    ul{
        padding: 1em;
        list-style-type: circle;
        list-style-position:inside;
    }

}

// contact page stuff --------- 

input[type=text], select, textarea{
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    background-color: color(accent-bgnd);
    width: 100%;
    padding: 12px;
    border: 0;
    border-radius: 5px;
    margin: 5px 0 5px 0;
    resize: vertical;
}

.pushleft{
    display:flex;
    justify-content: left;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: color(dark);
    color: white;
    min-width: 34%;
    padding: 12px;
    margin: 1em 0 0 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: color(accent);
}

form{
    max-width: 1000px;
    margin: auto;
    padding: 1em 2.5em 1em 1em;
    display: block;
}

h3 {
    text-align: left;
    font-size: xx-large;
    font-weight: 900;
  }

// ------ end contact page stuff

// project page
.project{
    .bottomtext{
        display: flex;
        justify-content: center;
        padding: 1em;
    }
    img{
        width: 90vw;
        display: block;
        margin: auto;
        padding: .3em;
    }
    figcaption{
        text-align: left;
    }
    nav{
        ul{
            display: flex;
            justify-content: space-evenly;
        }
    }
}

@media only screen and (min-width: 700px){
    footer .section{
        display: flex;
        justify-content: space-around;
        ul li{
            text-align: right;
        }
    }
    .hide-desktop{
        display: none;
    }
    .show-desktop{
        display:flex;
    }
    nav ul li{
        display: inline-block;
        padding: 1em 2em 0 0;
    }

    //size adjustments
    body{
        font-size: 20px;
    }
    h1{font-size: 29px;}
    h2{font-size: 20px;}
    .project{
        img{
            width: 50vw;
        }
    }

    #navbar {
        position: absolute;
        right: 1em;
        top: 1em;
        img{
            position: absolute;
            right: 1em;
            top: 1em;
        }
        ul li{
            top: 0;
            padding: 1em 1em;
        }

}}

@media only screen and (min-width: 950px){
    SquareGrid{
        --columns: 3;
    }
    .about{
        display: flex;
        align-items: flex-start;
        img{
            padding: 2em;
            width: 30vw;
            object-fit: contain;
        }
    }
}

@media only screen and (min-width: 1350px){
    Squaregrid{
        --columns: 4;
    }
}




  


