@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Script&display=swap");
body, html {
  height: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Montserrat';
  background-color: #9b948e;
  color: #826158;
  margin: 0;
  padding: 0;
}

header {
  background: #f0bbb9;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
}

header h1 {
  font-size: 20px;
  margin: 0 auto;
  border: 0.3ex solid white;
  padding: 1ex;
  text-align: center;
  display: block;
  width: 20ex;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-animation: fadeInAnim ease 1.1s;
          animation: fadeInAnim ease 1.1s;
}

header h3 {
  font-size: medium;
  font-family: League Script;
  text-align: center;
  -webkit-animation: fadeInAnim ease 2s;
          animation: fadeInAnim ease 2s;
}

@-webkit-keyframes fadeInAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide-mobile {
  display: none;
}

.flip {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

nav {
  text-align: center;
  font-size: medium;
  padding: 0.7em;
  color: #826158;
  background: white;
  text-decoration: none;
}

nav .arrow {
  width: 10px;
  -webkit-filter: invert(36%) sepia(4%) saturate(3750%) hue-rotate(325deg) brightness(103%) contrast(75%);
          filter: invert(36%) sepia(4%) saturate(3750%) hue-rotate(325deg) brightness(103%) contrast(75%);
}

nav ul {
  padding-left: 0;
  margin: 1em, 30em;
}

nav ul a:hover {
  background-color: pink;
  color: #331b10;
}

nav a {
  color: #826158;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1px;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  margin: 100px;
  color: #331b10;
  font-size: small;
  text-align: center;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: white;
}

.container img {
  width: 30%;
  padding: 1em;
  border-radius: 3em;
}

.container ul {
  display: block;
  text-align: left;
}

.container li a {
  color: black;
}

hr {
  display: none;
  background: none;
  border-width: 1px;
  width: 20%;
  text-align: left;
  margin-left: 0;
}

footer {
  -webkit-box-shadow: 0 50vh 0 50vh #331b10;
          box-shadow: 0 50vh 0 50vh #331b10;
  background-color: #331b10;
  padding: 2em;
  font-size: 9px;
}

footer .icons {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-filter: invert(93%) sepia(7%) saturate(358%) hue-rotate(30deg) brightness(98%) contrast(89%);
          filter: invert(93%) sepia(7%) saturate(358%) hue-rotate(30deg) brightness(98%) contrast(89%);
  margin: 0 auto;
  max-width: 340px;
}

footer .icons img {
  width: 20px;
}

footer .notice {
  font-size: 12px;
}

footer a {
  color: #9b948e;
}

@media only screen and (min-width: 590px) {
  .hide-desktop {
    display: none;
  }
  .container {
    margin: 1em 6em;
  }
  .container .first-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .show-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 1em;
    max-width: 900px;
  }
  header h1 {
    font-size: 50px;
  }
  header h3 {
    font-size: 20px;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body {
    font-size: larger;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    margin: 1em 20em;
  }
  header h1 {
    font-size: 72px;
  }
  header h3 {
    font-size: 30px;
  }
  nav {
    font-size: 20px;
  }
  .icons img {
    width: 55px;
  }
}
/*# sourceMappingURL=main.css.map */