@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');

$colors: (
    primary: #9b948e,
    accent: white,
    dark: #826158,
    darker: #331b10
);

@function color($color-name){
    @return map-get($colors,$color-name)
}

body, html {
    height: 100%;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: color(accent);
}

body {
    font-family: 'Montserrat';
    background-color: color(primary);
    color: color(dark);
    margin: 0;
    padding: 0;
}

header {
    background: #f0bbb9;
    background-size: cover;
    background-position: center;
    color:color(accent);
    padding: 50px;
    h1 { 
        font-size: 20px;
        margin: 0 auto;
        border: 0.3ex solid color(accent);
        padding: 1ex;
        text-align:center; 
        display:block;
        width: 20ex;
        text-transform: uppercase;
        text-decoration: none;
        animation: fadeInAnim ease 1.1s;
    }
    h3 {
        font-size: medium;
        font-family: League Script;
        text-align: center;
        animation: fadeInAnim ease 2s;
    }
}

@keyframes fadeInAnim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.hide-mobile {
    display: none;
}

.flip {
    transform: rotate(-180deg);
    transition: transform .5s;
}

nav {
    text-align: center;
    font-size: medium;
    .arrow {
        width: 10px;
        //https://codepen.io/sosuke/pen/Pjoqqp
        filter: invert(36%) sepia(4%) saturate(3750%) hue-rotate(325deg) brightness(103%) contrast(75%);
    }
    padding: 0.7em;
    color: color(dark);
    background: color(accent);
    text-decoration: none;
    ul {
        padding-left: 0;
        margin: 1em, 30em;
        a:hover {
            background-color: pink;
            color: color(darker);
        }
    }
    a {
        color: color(dark);
    }
}

.content{
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1px;
  }
  
.sticky + .content {
    padding-top: 60px;
}

.container{
    margin: 100px;
    color: color(darker);
    font-size: small;
    text-align: center;
    img {
        width: 30%;
        padding: 1em;
        border-radius: 3em;
    }
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    background-color: color(accent);
    ul{display: block;
    text-align: left;}
    li{
        a{color: black;}}
}

hr {
    display: none;
    background: none;
    border-width: 1px;
    width:20%;
    text-align:left;
    margin-left: 0;
}

footer {
    box-shadow: 0 50vh 0 50vh color(darker);
    background-color: color(darker);
    padding: 2em;
    font-size: 9px;
    
    .icons{
        padding: 0;
        display:flex;
        justify-content: space-around;

        filter: invert(93%) sepia(7%) saturate(358%) hue-rotate(30deg) brightness(98%) contrast(89%);
        img{
            width: 20px;
        }
        margin: 0 auto;
        max-width: 340px;
    }
    .notice{
        font-size: 12px;
    }
    a{
        color:color(primary);
    }
}

@media only screen and (min-width: 590px)  {

    .hide-desktop{
        display: none;
    }

    .container{
        margin: 1em 6em;
        .first-sec{
            display:flex;
            justify-content: space-evenly;
        }
    }

    .show-desktop{
        display: flex;
        margin: 0 auto;
        padding: 1em;
        max-width: 900px;
    }

    header {
        h1 {
            font-size: 50px;
        }
        h3{
            font-size: 20px;
        }
    }

    ul {
        display:flex;
        justify-content: space-evenly;
    }

    body{
        font-size: larger;
    }

}

@media only screen and (min-width: 1000px)  {
    .container{
        margin: 1em 20em;
    }
    header {
        h1 {
            font-size: 72px;
        }
        h3{
            font-size: 30px;
        }
    }
    nav {
        font-size: 20px;
    }

    .icons img{
        width:55px;
    } 
}