@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');

$colors: (
    primary: #9b948e,
    accent: white,
    dark: #826158,
    darker: #331b10
);

@function color($color-name){
    @return map-get($colors,$color-name)
}

body, html {
    height: 100%;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: color(accent);
}

body {
    font-family: 'Montserrat';
    background-color: color(primary);
    color: color(dark);
    margin: 0;
    padding: 0;
}

header {
    background: url('../images/tumblr_header.jpg'),  #f0bbb9;
    background-size: cover;
    background-position: center;
    color:color(accent);
    padding: 50px;
    h1 { 
        font-size: 20px;
        margin: 0 auto;
        border: 0.3ex solid color(accent);
        padding: 1ex;
        text-align:center; 
        display:block;
        width: 20ex;
        text-transform: uppercase;
        text-decoration: none;
    }
    h3 {
        font-size: medium;
        font-family: League Script;
        text-align: center;
    }
}

.hide-mobile {
    display: none;
}

nav {
    text-align: center;
    font-size: medium;
    .arrow {
        width: 10px;
        //https://codepen.io/sosuke/pen/Pjoqqp
        filter: invert(36%) sepia(4%) saturate(3750%) hue-rotate(325deg) brightness(103%) contrast(75%);
    }
    padding: 0.5ex;
    color: color(dark);
    background: color(accent);
    text-decoration: none;
    ul {
        padding-left: 0;
        margin: 1em, 30em;
        a:hover {
    background-color: pink;
    color: color(darker);
}
    }
    a {
        color: color(dark);
    }
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1px;
  }
  
.sticky + .content {
    padding-top: 60px;
}

.container{
    color: color(darker);
    font-size: small;
    text-align: center;
    img {
        width: 30%;
        padding: 1em;
        border-radius: 3em;
    }
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    background-color: color(accent);
}

hr {
    background: pink;
    border-width: 1px;
    width:20%;
    text-align:left;
    margin-left: 0;
}

footer {
    padding: 1em;
    font-size: xx-small;
    .icons{
        display:flex;
        justify-content: space-evenly;
    }
    .notice{
        font-size: small;
    }
    a{
        color:color(darker);
    }
}

@media only screen and (min-width: 675px)  {

    .hide-desktop{
        display: none;
    }

    .container{
        margin: 1em 6em;
        .first-sec{
            display:flex;
            justify-content: space-evenly;
        }
    }

    .show-desktop{
        display: flex;
    }

    header {
        h1 {
            font-size: 50px;
        }
        h3{
            font-size: 20px;
        }
    }

    ul {
        display:flex;
        justify-content: space-evenly;
    }

    body{
        font-size: larger;
    }

}

// @media only screen and (min-width: 1000px)  {
//     .container{
//         margin: 1em 20em;
//     }
//     header {
//         h1 {
//             font-size: 72px;
//         }
//         h3{
//             font-size: 30px;
//         }
//     }
// }