@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Script&display=swap");
body, html {
  height: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Montserrat';
  background-color: #9b948e;
  color: #826158;
  margin: 0;
  padding: 0;
}

header {
  background: url("../images/tumblr_header.jpg"), #f0bbb9;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
}

header h1 {
  font-size: 20px;
  margin: 0 auto;
  border: 0.3ex solid white;
  padding: 1ex;
  text-align: center;
  display: block;
  width: 20ex;
  text-transform: uppercase;
  text-decoration: none;
}

header h3 {
  font-size: medium;
  font-family: League Script;
  text-align: center;
}

.hide-mobile {
  display: none;
}

nav {
  text-align: center;
  font-size: medium;
  padding: 0.5ex;
  color: #826158;
  background: white;
  text-decoration: none;
}

nav .arrow {
  width: 10px;
  -webkit-filter: invert(36%) sepia(4%) saturate(3750%) hue-rotate(325deg) brightness(103%) contrast(75%);
          filter: invert(36%) sepia(4%) saturate(3750%) hue-rotate(325deg) brightness(103%) contrast(75%);
}

nav ul {
  padding-left: 0;
  margin: 1em, 30em;
}

nav ul a:hover {
  background-color: pink;
  color: #331b10;
}

nav a {
  color: #826158;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1px;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  color: #331b10;
  font-size: small;
  text-align: center;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: white;
}

.container img {
  width: 30%;
  padding: 1em;
  border-radius: 3em;
}

hr {
  background: pink;
  border-width: 1px;
  width: 20%;
  text-align: left;
  margin-left: 0;
}

footer {
  padding: 1em;
  font-size: xx-small;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .notice {
  font-size: small;
}

footer a {
  color: #331b10;
}

@media only screen and (min-width: 675px) {
  .hide-desktop {
    display: none;
  }
  .container {
    margin: 1em 6em;
  }
  .container .first-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .show-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header h1 {
    font-size: 50px;
  }
  header h3 {
    font-size: 20px;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body {
    font-size: larger;
  }
}
/*# sourceMappingURL=main.css.map */