/* hey */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');

html, body {
    width: 100%; height: 95vh; overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(73, 16, 16);
    color: white;
}

h1 {
    padding: 2ex;
    color: white;
    width: 20ex;

    border: 4px solid white;
    padding: 1ex;
    margin: 1ex;
    text-align:center; 
    display:inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav {
    position: fixed;
    right: 0;
    top: 0;
    padding: 1ex 1ex;
}

header {
    padding: 1ex;
    text-align: center;
    background-image: url("https://66.media.tumblr.com/d8be1804c81c5084853b2354afc6b36c/tumblr_p5ecx17r181v4pf8xo1_540.gifv");
    background-size: cover;
}

.menu {
    width: 25px;
    margin-top: 45%;
}

.hide-mobile {
    display: none;
}

.container{
    text-align: center;
    padding: 2ex;
}

.face {
    border: 2ex solid whitesmoke;
    margin: 1ex;
    width: 25%;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: url(https://www.itl.cat/pngfile/big/127-1279273_metalocalypse-great-wave-off-kanagawa-red.jpg);
    background-position: 20%;
    filter: grayscale(50%);
    opacity: .99;
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
}

nav ul li a:hover {
    background-color: rgb(37, 90, 139);
    color: white;
    opacity: 50%;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

@media only screen and (min-width: 800px)  {

    .hide-desktop{
        display: none;
    }

    .show-desktop {
        display: block;
        position: relative;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    header nav {
        position: relative;
    }

    nav ul {
        background: none;
    }

    nav ul li a {
        color:white;
        background-color: inherit;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

}
