@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

$colors: (
    primary: #9b948e,
    accent: white,
    dark: #826158
);

@function color($color-name){
    @return map-get($colors,$color-name)
}

body, html {
    height: 100%;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: color(accent);
}

body {
    font-family: 'Montserrat';
    background-color: color(primary);
    color: color(dark);
    margin: 0;
    padding: 0;
}

header {
    background: url('images/tumblr_header.jpg'),  #f0bbb9;
    background-size: cover;
    background-position: center;
    color:color(accent);
    padding: 50px;
    h1 { 
        font-size: larger;
        margin: 0 auto;
        border: 4px solid color(accent);
        padding: 1ex;
        text-align:center; 
        display:block;
        width: 20ex;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.hide-mobile {
    display: none;
}

nav {
    text-align: center;
    font-size: small;
    .arrow {
        width: 10px;
        //https://codepen.io/sosuke/pen/Pjoqqp
        filter: invert(36%) sepia(4%) saturate(3750%) hue-rotate(325deg) brightness(103%) contrast(75%);
    }
    padding: 1ex;
    color: color(dark);
    background: color(accent);
    text-decoration: none;
    ul {
        padding-left: 0;
        margin: 1em, 30em;
        a:hover {
    background-color: pink;
    color: black;
}
    }
    a {
        color: color(dark);
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1px;
  }
  
.sticky + .content {
    padding-top: 60px;
}

.container{
    color: black;
    font-size: small;
    text-align: center;
    img {
        width: 30%;
        padding: 1em;
        border-radius: 3em;
    }
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    background-color: color(accent);
}

footer {
    font-size: xx-small;
    .icons{
        display:flex;
        justify-content: space-evenly;
    }
    .notice{
        font-size: small;
        color: darkgreen;
    }
}

@media only screen and (min-width: 500px)  {

    .hide-desktop{
        display: none;
    }

    .container{
        margin: 1em 6em;
        .first-sec{
            display:flex;
            justify-content: space-evenly;
        }
    }

    .show-desktop{
        display: flex;
    }

    header h1{
        font-size: 110%;
    }

    ul {
        display:flex;
        justify-content: space-evenly;
    }

    body{
        font-size: larger;
    }

}